/*!
Stash Editor Styles
*/
/** === Content Width === */
.wp-block {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 690px;
}

.wp-block:not([data-type="core/paragraph"]):not([data-type="core/list"]):not([data-type="core/archives"]):not([data-type="core/categories"]):not([data-type="core/latest-posts"]):not([data-type="core/latest-comments"]) {
  margin-bottom: 42px;
  margin-top: 42px;
}

.wp-block[data-align="wide"] {
  max-width: 950px;
}

@media screen and (min-width: 699px) {
  .wp-block[data-align="wide"] {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
  }
}

.wp-block[data-align="full"] {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
  max-width: none;
}

@media screen and (min-width: 699px) {
  .wp-block[data-align="full"] {
    margin-bottom: 60px !important;
    margin-top: 60px !important;
  }
}

.wp-block .wp-block {
  width: 100%;
}

.editor-inner-blocks .wp-block {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

/** === Title === */
.editor-post-title__block {
  margin-top: 0 !important;
}

.editor-post-title__block::after {
  color: rgba(0, 0, 0, 0.6);
  content: "...";
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.1em;
  margin-bottom: 0;
  margin-left: 8px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.editor-post-title__block .editor-post-title__input {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 2.25em;
  font-weight: 300;
  text-align: center;
}

/** === Permalink === */
.editor-post-permalink__link {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #7e8993;
  text-decoration: underline;
}

.editor-post-permalink__link:active, .editor-post-permalink__link:hover {
  color: #00a0d2;
}

/** === Default Appender === */
.editor-default-block-appender textarea.editor-default-block-appender__content {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

@media screen and (min-width: 599px) {
  .editor-default-block-appender textarea.editor-default-block-appender__content {
    font-size: 22px;
  }
}

/** === Placeholders === */
.components-placeholder {
  margin-bottom: 42px;
  margin-top: 42px;
}

.wp-block[data-align="full"] .components-placeholder,
.wp-block[data-align="wide"] .components-placeholder {
  margin-bottom: 0;
  margin-top: 0;
}

.components-placeholder__label, .components-placeholder__instructions {
  color: #191e23;
}

/** === Alignments === */
@media screen and (max-width: 498px) {
  .wp-block[data-align="left"] .wp-block-image div div,
  .wp-block[data-align="right"] .wp-block-image div div {
    width: 100% !important;
  }
}

@media screen and (max-width: 498px) {
  .wp-block[data-align="left"] .editor-block-list__block-edit,
  .wp-block[data-align="right"] .editor-block-list__block-edit {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

/** === Base Typography === */
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 599px) {
  body {
    font-size: 22px;
  }
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.75 !important;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 599px) {
  p {
    font-size: 22px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.40625em;
}

h3 {
  font-size: 1.125em;
}

h4 {
  font-size: 0.8888888889em;
}

h5 {
  font-size: 0.7111111111em;
}

h6 {
  font-size: 0.5925925926em;
}

a {
  color: #333;
}

a:hover, a:active {
  color: #333;
  outline: 0;
}

a:focus {
  outline: 0;
}

code {
  font-size: 15px;
  padding: 3px 10px;
  position: relative;
  border-radius: 3px;
  background-color: #f1f1f1;
}

/** === Headings === */
.wp-block[data-type="core/heading"] {
  margin-bottom: 0 !important;
}

.wp-block[data-type="core/heading"] + .wp-block[data-type="core/paragraph"] {
  margin-top: -19px !important;
}

.wp-block[data-type="core/heading"] + .wp-block[data-type="core/list"] {
  margin-top: -18px !important;
}

.wp-block[data-type="core/heading"] + .wp-block[data-type="core/image"],
.wp-block[data-type="core/heading"] + .wp-block[data-type="core/gallery"] {
  margin-top: -10px !important;
}

.wp-block[data-type="core/heading"] + .wp-block[data-type*="blockgallery"] {
  margin-top: -10px !important;
}

.wp-block[data-type="core/heading"] .wp-block-heading {
  padding-top: 5px;
}

/** === Paragraph === */
.wp-block-paragraph.has-background {
  margin: 32px auto;
}

@media screen and (min-width: 699px) {
  .wp-block-paragraph.has-background {
    margin-bottom: 42px;
    margin-top: 42px;
  }
}

.wp-block-paragraph.has-drop-cap:not(:focus)::first-letter {
  font-size: 68px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0.25em -3px 0;
  padding-top: 7px;
}

.wp-block-paragraph.has-background:not(.has-text-color) {
  color: #333;
}

/** === Captions === */
figcaption {
  margin-bottom: -10px;
  margin-top: 10px;
}

figcaption a {
  color: inherit;
}

figcaption,
.gallery-caption {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

figcaption:not(.blockgallery--caption),
.blockgallery:not(.has-caption-color) figcaption {
  color: #6c7781;
}

/** === Code / HTML === */
.wp-block-code {
  padding: 0.8em 1.1em 0.15em;
}

.wp-block-html .editor-plain-text {
  margin-bottom: -10px;
  padding: 0.8em 1.1em;
}

/** === Latest Comments === */
.wp-block-latest-comments {
  font-weight: 300;
}

.wp-block-latest-comments__comment {
  font-size: 17px;
  margin-bottom: 1.4em !important;
}

.wp-block-latest-comments__comment-date {
  color: #6c7781;
  font-size: 15px;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: 18px;
  line-height: 1.6;
}

.wp-block[data-type="core/latest-comments"][data-align="full"] ol.wp-block-latest-comments {
  padding-left: 20px;
}

/** === Preformatted Text === */
.wp-block-preformatted pre {
  color: #333;
  font-size: 0.7111111111em;
  line-height: 1.8;
  margin-bottom: -7px;
  margin-top: -6px;
  white-space: pre-wrap;
}

/** === Separator === */
.wp-block-separator {
  border-bottom-color: #ccc;
}

.wp-block-separator.is-style-dots {
  line-height: 1.7;
}

.wp-block-separator.is-style-dots::before {
  color: #6c7781;
  letter-spacing: 0.85em;
  margin-left: 19px;
  padding-left: 0;
  top: calc(50% - 29px);
}

/** === Verse === */
.wp-block-verse {
  background-color: #f1f1f1;
}

.wp-block-verse pre {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 0.7111111111em;
  line-height: 1.8;
  padding-left: 1.2em;
}

/** === Table === */
.wp-block-table tr,
.wp-block-table td {
  font-weight: 300;
}

/** === Gallery === */
.wp-block-gallery:not(.editor-media-placeholder) {
  margin-bottom: -16px;
}

.wp-block-gallery .blocks-gallery-item:last-child {
  margin-bottom: 16px;
}

.wp-block-gallery figcaption.editor-rich-text__tinymce {
  color: #fff !important;
  margin: 0;
  padding-bottom: 10px;
}

.wp-block[data-type="core/gallery"][data-align="left"] .wp-block-gallery:not(.editor-media-placeholder),
.wp-block[data-type="core/gallery"][data-align="right"] .wp-block-gallery:not(.editor-media-placeholder) {
  margin-bottom: 0;
}

@media screen and (min-width: 499px) {
  .wp-block[data-type="core/gallery"][data-align="left"] .wp-block-gallery:not(.editor-media-placeholder),
  .wp-block[data-type="core/gallery"][data-align="right"] .wp-block-gallery:not(.editor-media-placeholder) {
    margin-top: 0.5em;
  }
}

/** === Image === */
.wp-block-image {
  margin-top: 0;
}

.wp-block-image:not(.editor-media-placeholder) {
  margin-bottom: -10px;
}

.wp-block-image figcaption {
  margin-top: 0;
}

.wp-block[data-type="core/image"][data-align="left"] .wp-block-image:not(.editor-media-placeholder),
.wp-block[data-type="core/image"][data-align="right"] .wp-block-image:not(.editor-media-placeholder) {
  margin-bottom: 0;
}

@media screen and (min-width: 499px) {
  .wp-block[data-type="core/image"][data-align="left"] .wp-block-image:not(.editor-media-placeholder),
  .wp-block[data-type="core/image"][data-align="right"] .wp-block-image:not(.editor-media-placeholder) {
    margin-top: 0.5em;
  }
}

.wp-block-image--stash-featured.editor-media-placeholder {
  margin-bottom: 4.2em !important;
}

.wp-block-image--stash-featured:not(.editor-media-placeholder) {
  margin-bottom: 2.15em !important;
}

/** === Cover === */
.wp-block-cover-text {
  font-size: 1.6875em;
  line-height: 1.3 !important;
}

.wp-block-cover.has-left-content {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wp-block-cover.has-left-content .editor-rich-text__inline-toolbar {
  left: 35px;
}

.wp-block-cover.has-left-content .wp-block-cover-text {
  padding-left: 35px;
  padding-right: 35px;
}

.wp-block-cover.has-right-content .editor-rich-text__inline-toolbar {
  right: 35px;
}

.wp-block-cover.has-right-content .wp-block-cover-text {
  padding-left: 35px;
  padding-right: 35px;
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover {
  margin-bottom: 0.55em;
  margin-top: 0.55em;
  min-width: 300px;
}

.wp-block[data-type="core/cover"][data-align="left"] .wp-block-cover-text,
.wp-block[data-type="core/cover"][data-align="right"] .wp-block-cover-text {
  max-width: 300px;
  padding: 20px;
  width: 100%;
}

.wp-block[data-type="core/cover"][data-align="left"] .has-left-content .editor-rich-text__inline-toolbar,
.wp-block[data-type="core/cover"][data-align="right"] .has-left-content .editor-rich-text__inline-toolbar {
  left: 20px;
}

.wp-block[data-type="core/cover"][data-align="left"] .has-right-content .editor-rich-text__inline-toolbar,
.wp-block[data-type="core/cover"][data-align="right"] .has-right-content .editor-rich-text__inline-toolbar {
  right: 20px;
}

.wp-block[data-type="core/cover"][data-align="wide"] .wp-block-cover-text,
.wp-block[data-type="core/cover"][data-align="full"] .wp-block-cover-text {
  max-width: calc(6 * (100vw / 12));
  padding: 0;
  padding-left: calc(30px + 20px);
  padding-right: calc(30px + 20px);
  width: calc(6 * (100vw / 12));
}

.wp-block[data-type="core/cover"][data-align="wide"] .has-left-content .editor-rich-text__inline-toolbar,
.wp-block[data-type="core/cover"][data-align="full"] .has-left-content .editor-rich-text__inline-toolbar {
  left: calc(30px + 20px);
}

.wp-block[data-type="core/cover"][data-align="wide"] .has-right-content .editor-rich-text__inline-toolbar,
.wp-block[data-type="core/cover"][data-align="full"] .has-right-content .editor-rich-text__inline-toolbar {
  right: calc(30px + 20px);
}

/** === Button === */
.wp-block-button .wp-block-button__link {
  font-size: 0.8888888889em;
  font-weight: 400;
  line-height: 24px;
  padding: 15px 30px;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
  background: #333;
}

.wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border-radius: 5px;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  padding-bottom: 13px;
  padding-top: 13px;
}

.wp-block-button.is-style-3d .wp-block-button__link:not(.has-background) {
  -webkit-box-shadow: inset 0 -3px 0 0 #000 !important;
          box-shadow: inset 0 -3px 0 0 #000 !important;
}

.wp-block-button.is-style-outline, .wp-block-button.is-style-outline:hover, .wp-block-button.is-style-outline:focus, .wp-block-button.is-style-outline:active {
  background: transparent !important;
  color: #333;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background), .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-background), .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-background), .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-background) {
  background: transparent !important;
}

.is-style-outline .wp-block-button__link {
  background: transparent !important;
}

/** === Quote === */
blockquote p,
.wp-block-quote p {
  font-weight: 300;
}

blockquote:not(.is-style-large),
.wp-block-quote:not(.is-style-large) {
  border-left: 3px solid #333;
  margin-left: -14px;
  padding-left: 10px;
}

@media screen and (min-width: 600px) {
  blockquote:not(.is-style-large),
  .wp-block-quote:not(.is-style-large) {
    margin-left: -1em;
    padding-left: 1em;
  }
}

blockquote.is-style-large,
.wp-block-quote.is-style-large {
  margin-bottom: 2.3em;
  margin-top: 2.3em;
  padding-left: 30px;
}

@media screen and (min-width: 699px) {
  blockquote.is-style-large,
  .wp-block-quote.is-style-large {
    padding-left: 60px;
  }
}

blockquote.is-style-large p,
.wp-block-quote.is-style-large p {
  font-size: 1.6875em;
  font-weight: 300;
  line-height: 1.4 !important;
}

blockquote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: 0.8888888889em;
  text-align: inherit;
}

blockquote .wp-block-quote__citation,
.wp-block-quote .wp-block-quote__citation {
  color: #6c7781;
  font-family: "Roboto", sans-serif;
  font-size: 0.7111111111em;
  font-weight: 300;
  line-height: 1.6;
}

blockquote .editor-rich-text + .editor-rich-text,
.wp-block-quote .editor-rich-text + .editor-rich-text {
  margin-top: -25px;
}

.wp-block[data-type="core/quote"] .editor-block-mover {
  left: -45px;
}

/** === Pullquote === */
.wp-block-pullquote {
  border: none;
  font-weight: 400;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wp-block-pullquote {
    padding: 10px 30px;
  }
}

.wp-block-pullquote blockquote {
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin: 0;
  max-width: 100%;
  padding: 0 !important;
  border: none !important;
  text-align: center;
  word-break: break-word;
}

.wp-block-pullquote em {
  font-style: normal;
}

.wp-block-pullquote .wp-block-pullquote__citation {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 35px;
  text-transform: none;
}

.wp-block-pullquote blockquote:not([class*="text-color"]) .wp-block-pullquote__citation {
  color: #6c7781;
}

.wp-block-pullquote.is-style-solid-color {
  padding: 30px 40px;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  text-align: left;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
  opacity: 0.8;
}

.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) p,
.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) a,
.wp-block-pullquote.is-style-solid-color blockquote:not(.has-text-color) .wp-block-pullquote__citation {
  color: #fff;
}

.wp-block-pullquote.is-style-solid-color:not([class*="background-color"]) {
  background-color: #333;
}

.wp-block[data-type="core/pullquote"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] p {
  font-size: 1.40625em;
  line-height: 1.3 !important;
  margin-bottom: 0;
  margin-top: 0;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote {
  margin-bottom: 0;
  margin-top: 0.5em;
}

@media screen and (max-width: 498px) {
  .wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
  .wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 499px) {
  .wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit,
  .wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit {
    max-width: 50%;
  }
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color),
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}

.wp-block[data-type="core/pullquote"][data-align="left"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color,
.wp-block[data-type="core/pullquote"][data-align="right"] .editor-block-list__block-edit .wp-block-pullquote.is-style-solid-color {
  padding: 1.25em;
}

.wp-block[data-type="core/pullquote"][data-align="left"] p,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="left"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="left"] .wp-block-pullquote__citation,
.wp-block[data-type="core/pullquote"][data-align="right"] p,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block[data-type="core/pullquote"][data-align="right"] blockquote > .editor-rich-text p,
.wp-block[data-type="core/pullquote"][data-align="right"] .wp-block-pullquote__citation {
  text-align: left;
}

.wp-block[data-type="core/pullquote"][data-align="full"] blockquote p,
.wp-block[data-type="core/pullquote"][data-align="full"] .wp-block-pullquote__citation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

/** === File === */
.wp-block-file .wp-block-file__textlink {
  text-decoration: underline;
}

.wp-block-file .wp-block-file__button {
  background: #333;
  padding: 0.3em 1em;
  position: relative;
  top: -4px;
}

/** === Video === */
.wp-block-video video {
  margin-bottom: -10px;
  width: 100%;
}

/** === Audio === */
.wp-block-audio audio {
  margin-bottom: -10px;
  width: 100%;
}

/** === List === */
.block-library-list {
  font-weight: 300;
}

.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul {
  margin-left: 0;
  padding-left: 1em;
}

/** === Archives, Categories === */
ul.wp-block-archives,
ul.wp-block-categories__list {
  font-weight: 300;
  margin-left: 0;
  padding-left: 1em;
}

ul.wp-block-archives.aligncenter,
ul.wp-block-categories__list.aligncenter {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.wp-block[data-type="core/categories"][data-align="center"] ul.wp-block-categories__list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.wp-block[data-type="core/categories"][data-align="full"] ul.wp-block-categories__list {
  padding-left: 40px;
}

/** === Latest Posts === */
.wp-block-latest-posts.is-grid {
  margin-bottom: -10px;
  margin-top: 40px;
}

.wp-block-latest-posts.is-grid li {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1f1f1;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.6;
  padding: 1em 1em 1.1em;
  text-align: center;
}

@media (max-width: 599px) {
  .wp-block-latest-posts.is-grid li {
    margin-right: 0;
  }
}

.wp-block-latest-posts.is-grid li a {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
  transition: none;
}

.wp-block-latest-posts.is-grid li a::after {
  content: "";
}

.wp-block-latest-posts.is-grid li:last-child a::after {
  content: "";
}

.wp-block-latest-posts.is-grid .wp-block-latest-posts__post-date {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-top: 10px;
}

.wp-block-latest-posts:not(.is-grid) {
  margin-left: 0;
  padding-left: 1em;
}

.wp-block-latest-posts:not(.is-grid) li {
  margin-bottom: 10px;
}

.wp-block-latest-posts:not(.is-grid) li:last-child {
  margin-bottom: 0;
}

.wp-block-latest-posts .wp-block-latest-posts__post-date {
  color: #6c7781;
  font-size: 15px;
  font-weight: 300;
  margin-top: -3px;
}

.wp-block-latest-posts a {
  font-weight: 300;
}

.wp-block[data-type="core/latest-posts"][data-align="full"] .wp-block-latest-posts:not(.is-grid) {
  padding-left: 40px;
}

/** === Embeds === */
.wp-block-embed-twitter iframe {
  margin-bottom: -10px !important;
}

@media screen and (min-width: 650px) {
  .wp-block-embed-twitter iframe {
    margin-left: 5vw;
  }
}

/** === CoBlocks === */
.wp-block-coblocks-alert {
  padding: 0.8em 1em 0.7em;
}

.wp-block-coblocks-alert__text, .wp-block-coblocks-alert__title {
  margin-bottom: 0;
  margin-top: 0;
}

.wp-block-coblocks-alert__title {
  margin-bottom: 0.1em;
}

.wp-block[data-type="coblocks/alert"]:not([data-custom-fontsize="1"]) .wp-block[data-type="coblocks/alert"]__title {
  font-size: 1.125em;
  font-weight: 300;
  margin-bottom: 0.1em;
}

.wp-block[data-type="coblocks/alert"]:not([data-custom-fontsize="1"]) .wp-block[data-type="coblocks/alert"]__text {
  font-size: 0.8888888889em;
  font-weight: 300;
}

.wp-block-coblocks-accordion-item__title,
.wp-block-coblocks-accordion-item__text {
  font-size: 0.8888888889em;
}

.wp-block-coblocks-click-to-tweet {
  border: none !important;
  padding: 0 !important;
}

.wp-block-coblocks-click-to-tweet__text {
  font-weight: 400;
}

.wp-block-coblocks-click-to-tweet__text::before {
  top: 8px;
}

.wp-block-coblocks-click-to-tweet__twitter-btn {
  border-radius: 50px;
  font-size: 0.7111111111em;
  height: 44px;
  line-height: 45px !important;
  margin-top: 1em;
  padding: 0 1.4em;
}

.wp-block-coblocks-click-to-tweet__twitter-btn::before {
  margin-right: 7px;
}

.wp-block-coblocks-author__name, .wp-block-coblocks-author__heading {
  margin-bottom: 0;
}

.wp-block-coblocks-author__heading {
  color: #6c7781;
  font-size: 0.7111111111em;
}

.wp-block-coblocks-author__biography {
  font-size: 0.8888888889em;
  margin-bottom: 0.6em !important;
}

.wp-block-coblocks-author__name {
  display: block;
  font-weight: 300;
  margin: 0.25em 0 0.25em !important;
}

.wp-block-coblocks-author .wp-block-button {
  margin-top: 0.4em;
}

.wp-block-coblocks-pricing-table-item__title {
  font-size: 0.8888888889em;
  margin-bottom: 1em;
}

.wp-block-coblocks-pricing-table-item__currency {
  font-size: 0.8888888889em;
  position: relative;
  right: -2px;
  top: 14px;
}

.wp-block-coblocks-pricing-table-item__price-wrapper {
  margin-bottom: 0.6em;
  margin-left: -10px;
}

.wp-block-coblocks-pricing-table-item__amount {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.wp-block-coblocks-pricing-table-item__features {
  font-size: 0.8888888889em;
  font-weight: 300;
  margin-bottom: 1.35em;
  padding-left: 0;
}

.wp-block-coblocks-social:not(.has-button-size-sml):not(.has-button-size-lrg) .wp-block-coblocks-social__button {
  padding: 10px 24px 9px;
}

/** === Classic === */
.wp-block.editor-block-list__block[data-type="core/freeform"] {
  margin-bottom: 52px !important;
  margin-top: 52px !important;
  max-width: 660px;
}

.wp-block.editor-block-list__block[data-type="core/freeform"] .wp-block-freeform blockquote {
  margin-left: 0;
}

/** === Columns === */
.wp-block[data-type="core/columns"] .wp-block-columns {
  margin-bottom: -12px;
  margin-top: -12px;
}
