.entry-content {
	figcaption {
		display: block;
		font-family: $font__figcaption;
		font-size: 15px;
		font-weight: 400;
		line-height: $font__line-height-pre;
		margin: 0 0 -10px !important;
		padding-top: 10px;
		text-align: center;

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	figcaption:not(.blockgallery--caption),
	.blockgallery:not(.has-caption-color) figcaption {
		color: $gray;
	}

	.wp-block-gallery .blocks-gallery-item figcaption {
		color: $white !important;
		margin: 0 !important;
		padding-bottom: 10px;
	}
}
