.entry-content {
	.wp-block-separator {
		background: none;
		border-bottom-color: #ccc;
		max-width: $content__width--less-padding - $content__padding * 2;

		&:not(.is-style-wide):not(.is-style-dots) {
			width: calc(100px - #{$content__padding} * 2);
		}

		&.is-style-wide {
			margin-left: $content__padding;
			margin-right: $content__padding;

			@media screen and (min-width: $content__media-query) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&:not(.is-style-dots)::before {
			display: none;
		}

		&.is-style-dots {
			line-height: 1.7;

			&::before {
				color: $gray;
				letter-spacing: 0.85em;
				margin-left: 19px;
				padding-left: 0;
				top: calc(50% - 29px);
			}
		}
	}
}
